
#global{
	width: 70%;
	margin: 0px auto;
	margin-top: 30px;
	background: white;
	padding: 25px;
	box-shadow: 0px 0px 2px gray;
}

#logo{
font-family: verdana,arial;
font-size: 30px;
letter-spacing: 4px;

color: white;
text-align: center;	
width: 385px;
height: 80px;
float: left;
margin-bottom: 20px;
line-height: 80px;
text-transform: uppercase;
}

*{
margin: 0px;
padding: 0px;
list-style: none;
font-family: helvetica,arial;
color:#1f4f82;

}
.clearfix{
	float: none;
	clear: both;
}

#menu{
font-family: helvetica,arial;
background: #333;
width: 100%;
text-transform: uppercase;
color:white;
margin-bottom: 20px;

}
#menu ul{
	line-height: 46px;
	list-style: none;

}
#menu ul li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
}


#menu a{
display: block;
color: white;
text-decoration: none;
padding-left: 30px;
padding-right: 30px;
}

#post{
	width: 65%;
	float: left;
	font-family: helvetica,arial;

}
.post{
	padding: 7px;

}

.post h2{
font-size: 25px;
color:#1f4f82;
margin-top: 0px;
margin-bottom: 5px;
}

.post .date{
color:gray;
display: block;
margin-top: 0px;
}

.post p{
	margin-top: 20px;
	margin-bottom: 10px;
	line-height:20px;
	text-align: justify;
}

.button-more{
	display: block;
	padding: 15px;
	
	color:white;
	text-decoration: none;
	margin-top: 10px;
	width: 70px;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;

}



#sidebar{
font-family: Helvetica,Arial;
width: 29%;
float: right;
}

#sidebar h4{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 10px;
	color:#333;
	background: url('img/lines.png') repeat-x;
}
#sidebar h4 span{
	background: white;
	padding: 5px;
}
#sidebar img{
	width: 100%;

}
#sidebar p{
	font-size: 15px;
	text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select
{
padding: 5px;
border-radius: 5px;
border:1px solid #ccc;
width: 80%;
margin-bottom: 10px;
box-shadow: 0px 0px 2px gray;
margin-top: 5px;
}

form input[type="submit"]{
padding: 10px;
background: #eee;
border:1px solid #ccc;
color:#333;
cursor: pointer;
}

footer{
	font-family: helvetica,arial;
	color:white;
	height: 47px;
	background: rgba(51,51,51, 0.70);
	margin:0px auto;
	width: 70%;
	padding-left:20px;
	padding-right: 20px;
	line-height:47px;
	margin-top:50px; 

}
.bx-wrapper, .bx-viewport
{
height: 250px !important;
}

#changeTheme{
	
	position:fixed;
	top:40%;
	background: rgba(51,51,51,0.5);
	width: 50px;
	height: 100px;
}

#green{
width: 30px;
height: 25px;
border: 1px solid white;
margin: auto;
display: block;
margin-top: 5px;
margin-bottom: 5px;
background:#2d572c;
cursor: pointer;
}

#red{
width: 30px;
height: 25px;
border: 1px solid white;
margin: auto;
display: block;
margin-top: 5px;
margin-bottom: 5px;
background:#CA3413;
cursor: pointer;
}

#blue{
width: 30px;
height: 25px;
border: 1px solid white;
margin: auto;
display: block;
margin-top: 5px;
margin-bottom: 5px;
background:#1f4f82;
cursor: pointer;
}

.subir{
	color:white;
	text-decoration: none;
	display: block;
	float: right;

}

#box{
	width: 60%;
	float: left;
	margin-top: 40px;
}
#acorderon{
	margin-top: 20px;
}



#reloj{

	font-size: 40px;
	font-weight: bold;
	font-family: Helvetica, Arial;
	color:#333;
	border: 5px dashed #333;
	width: 30%;
	padding:30px;
	margin: 0 auto;
	text-align: center;
	width: 20%;


}

#formContact{
	width: 50%;
	margin-top: 15px;
	margin: 0 auto;

}

#formContact label{
	width: 100%;
	font-family: Helvetica,Arial;
	display: block;
	

}

.form-error{
float: left;
font-size: 15px;
color: red;
padding: 10px;
width: 65%;
}
